@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook&display=swap');
body{
    font-family: 'UnifrakturCook', cursive;
    background-color:navajowhite

}
.forms {
    display: flex;
    flex-direction: column;;
    height: 100%;
    border-right: 1px dotted black;
    align-items: stretch;
    background-color:aliceblue;

}   
.newTeamForm {
    padding-top: 10px;
    margin:10px;
    text-align: center;
}
.newPlayerForm {
    padding-top: 10px;
    margin:10px;
    text-align: left;

}
.newPlayerForm h3 {
    text-align: center;
}
#container{
    display: flex;
    height: 100%;
    flex-direction: row;
    
}
.currentGame {
    border: 1px solid black;
    padding-top:25px;
    padding-bottom:25px;
    text-align: center;
    margin-right: 10px;
}

.currentGameBox{
    margin-top:10px;
    text-align: center;
}
.newTeamForm {
    display: flex;
    flex-direction: column;
}
.leaderBoard{
    padding-top: 10px;
    padding-bottom:55px;
    margin-right: 10px;
    
}

.leaderBoard h3{
    text-align: center;
}
.game  {
    margin-left: 300px;
    margin-top: 100px;
   
}

h1 {
    font-size: 4em;
    ;
}
.game button {
    margin-left: 250px;
}
 h3 {
    font-weight: 1000;
}
.teamScore {
    display: flex;
    flex-direction: row;
    gap:20px;
    margin: 0px;

}
.teamScore p {
    margin-right: 20px;
}

.forms button {
    background-color: green;
    margin: 10px;
    color: cornsilk;
    border: 2px ridge grey;
    padding: 8px;
}
.game button{
    background-color: cornsilk;
    margin: 10px;
    color: green;
    border: 2px ridge grey;
    padding: 8px;
    margin-left: 250px;
}

#overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    background: #999;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 100;
}

#popup {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 500px;
    height: 500px;
    margin-left: -250px; /*Half the value of width to center div*/
    margin-top: -250px; /*Half the value of height to center div*/
    z-index: 200;
}